.card{
    margin-top: 25px;
    /* background-color: aqua; */
    border-radius: 25px;
}
.card :hover{
    cursor: pointer;
}

.blogpost{
    border: 3px black;
    text-align: left;
    text-decoration: none;
}

.feed{
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}